* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

.menu {

    justify-content: center;
    font-family: 'Adamina', serif;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
      "welcome about us menu logo story contact buy now";
    gap: 60px;
    font-size: 14px;
}

.texto-menu:nth-child(1) {
    position: absolute;
    width: 82px;
    height: 19px;
    left: 215px;
    top: 47px;
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.foto {
    position: absolute;
    width: 114px;
    height: 7px;
    left: -371px;
    top: 63px;
    margin-top: -95px;
}

.texto-menu:nth-child(2) {
    position: absolute;
    width: 79px;
    height: 19px;
    left: 357px;
    top: 47px;
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.texto-menu:nth-child(3) {
    position: absolute;
    width: 48px;
    height: 19px;
    left: 496px;
    top: 47px;
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.texto-menu:nth-child(4) {
    position: absolute;
    width: 137px;
    height: 47px;
    left: 651px;
    top: 27px;
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 47px;
    color: #000000;
}

.texto-menu:nth-child(5) {
    position: absolute;
    width: 52px;
    height: 19px;
    left: 869px;
    top: 47px;
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.texto-menu:nth-child(6) {
    position: absolute;
    width: 77px;
    height: 19px;
    left: 1011px;
    top: 47px;
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.texto-menu:nth-child(7) {
    position: absolute;
    width: 75px;
    height: 19px;
    left: 1150px;
    top: 47px;
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;    
}

.texto-menu:nth-child(8) {
    position: absolute;
    width: 88px;
    height: 16px;
    left: 683px;
    top: 62px;
    font-family: 'Birthstone';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;   

}

.titulo-prin {
    position: absolute;
    width: 835px;
    height: 248px;
    left: 311px;
    top: 336px;
    letter-spacing: 50px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 210px;
    line-height: 248px;
    color: #000000;
    text-align: center;
}

.macarrao {
    position: absolute;
    width: 550px;
    height: 865px;
    left: 445px;
    top: 35px;
}

.setaE {
    width: 33.6px;
    height: 35px;
    left: 75.6px;
    top: 456px;
    position: absolute;
}

.setaD {
    position: absolute;
    width: 33.6px;
    height: 35px;
    left: 1364px;
    top: 456px;
    justify-content: left;
}

@media only screen and (max-device-width: 768px) {

    .menu {
    
    }

    .menu .texto-menu{
        position: absolute;
        justify-content: left;
        
    }

    .macarrao {
        position: absolute;
        width: 360px;
        height: 637px;
        left: 155px;
        top: 116px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .titulo-prin {
        position: absolute;
        width: 705px;
        height: 200px;
        left: 10px;
        top: 372px;
        font-family: 'Abhaya Libre';
        font-style: normal;
        font-weight: 400;
        font-size: 170px;
        line-height: 218px;
        text-align: center;
        letter-spacing: 50px;
    }
    .setaE, .setaD{
        display: none;
    }

}